{% extends 'base.html.twig' %}

{% block title %}Entraînement des pokemons{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenu dans l'espace entrainement des pokemons</h1>

    <p> Vous avez {{ nbPokemons}} pokémons</p>
</div>


   
    <table border="1">
    <thead>
    <tr>
    <th>Nom</th>
    <th>Xp</th>
    <th>Niveau</th>
    <th>Dernier entrainement</th>
    </tr>
    </thead>
     {% for p in pokemons %}
     <tbody>
     <tr>
     <td><a href={{ path('app_detail', {'id_pokemon' : p.id}) }} > {{ p.nom }} </a> </td>
     <td>{{ p.xp }}</td>
     <td>{{ p.niveau }}</td>
      <td>{{ p.entrainement }}</td>
     </tr>
     </tbody>
    {% endfor %}
     </table>
    

{% endblock %}
