{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
 {{ parent() }}
    <h1 style="text-align:center;">Inscription</h1>
<div class="pure-form pure-form-stacked" style="margin-top:25px;margin-left:44%">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        
        {{ form_row(registrationForm.nom) }}

        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
